p Welcome to Organizer! We are glad that you joined!
p To be able to login you have to confirm your email address by visiting the following url: 
a(href="#{url}") #{url}
p
p Kind Regards,
p Your Organizer Team