| Welcome to Organizer! We are glad that you joined!
| 
| To be able to login you have to confirm your email address by visiting the following url: 
| 
| #{url}
| 
| Kind Regards,
| 
| Your Organizer Team